<select id="product_type" name="product_type" class="form-control">
<option value="simple">Simple Product</option>
<option value="grouped">Grouped Product</option>
<option value="configurable">Configurable Product</option>
<option value="virtual">Virtual Product</option>
<option value="bundle">Bundle Product</option>
<option value="downloadable">Downloadable Product</option>
</select>
