<select id="apply_to" name="apply_to" size="5" class="form-control" multiple="multiple">
<option value="0">All</option>
<option value="simple">Simple Product</option>
<option value="grouped">Grouped Product</option>
<option value="configurable">Configurable Product</option>
<option value="virtual">Virtual Product</option>
<option value="bundle">Bundle Product</option>
<option value="downloadable">Downloadable Product</option>
</select>
