<select id="type" name="type" class="form-control">
    <option value="text" selected="selected">Text Field</option>
    <option value="textarea">Text Area</option>
    <option value="date">Date</option>
    <option value="boolean">Yes/No</option>
    <option value="multiselect">Multiple Select</option>
    <option value="select">Dropdown</option>
    <option value="price">Price</option>
    <option value="media_image">Media Image</option>
</select>
